.BackgroundImg {
  width: 100vw;
  height: 40vh;
  z-index: 1;
}

.CardContainer {
  margin: 0 15vw 0 15vw;
  top: 0;
  position: absolute;
}

.Container {
  background-image: url(../../assets/userback.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 40vh;
}