.Container {
  margin-top: 56px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 20px;
}

.ContainerBottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: rgb(247, 247, 247);
}

.ListOfGigs {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

Gigs {
  width: 100vw;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
}

.GigTitleSm {
  font-weight: bold;
  padding-top: 25px;
  padding-left: 25px;
  text-align: left;
  font-size: 20px;
}
.GigTitleLg {
  font-weight: bold;
  padding-left: 25px;
  text-align: left;
  font-size: 30px;
}

.GigDescription {
  text-align: justify;
  font-size: 1em;
}
.GigContent {
  padding: 25px;
  text-align: left;
}

.Employer {
  text-align: left;
  padding-left: 25px;
  font-size: 13px;
}
.TopBanner {
  /* background-image: url('../../assets/school-vector.png');
  background-size: 100%;
  background-repeat: no-repeat; */
  height: 180px;
  width: 1000px;
  padding-top: 30px;
}

.BottomContent {
  width: 80vw;
  padding-top: 30px;
}

.GigsButton {
  margin-top: 3%;
  align-content: left;
}

.ContentBanner {
  margin-top: 5%;
}

.Item {
  margin: 5px;
}

.GigList {
  margin-bottom: 50px;
  height: 70vh;
  overflow: scroll;
  border-radius: 5px;
  background-color: rgb(235, 235, 235);

}

.jobCard {
  cursor: pointer;
}

.BadgePillContainer {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
  /* display: none; */
}
.BadgePill {
  margin: 0 5px 0 5px;
  font-size: 1.2em;
}
.Pill {
  transition: all 0.1s ease-in;
}
.Pill:hover {
  border: 2px solid rgb(209, 209, 209);
}

.ApplyButton {
  float: right;
}

.JobDate {
  font-size: 0.8em;
  font-style: italic;
  text-align: left;
}

.JobPayCont {
  text-align: right;
}

.GigHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.JobMoreInfo {
  text-align: left;
  border-radius: 20px;
  padding: 20px;
  background-color: #08aeea;
  background-image: linear-gradient(-30deg, #08aeea 0%, #2af598 100%);
  color: white;
  text-shadow: 1px 1px 4px #9b9a9a;
}

.JobMoreInfo p {
  font-size: 1.3em;
  font-weight: bold;
}

.JobPayout {
  color: rgb(54, 190, 54);
  font-size: 1.2em;
}

.BigCard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.4s ease-in;
  border-radius: 20px;
  margin-bottom: 20px;
  background-color: white;
  overflow: scroll;
  height: 75vh;
}

.SearchResult {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.13);
  border-radius: 20px;
  background-color: #8ec5fc;
  background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
  /* text-shadow: 1px 1px 4px #9b9a9a; */
  margin-bottom: 10px;
  padding: 5px;
  color: white;
}

@media (max-width: 575.98px) {
  .ContainerBottom {
    margin-top: 100px;
  }
  .BigCard {
    display: none;
  }
  .InputSearch {
    margin: 0 15px 0 15px;
  }
  .InputLocation {
    margin: 15px 15px 0 15px;
  }
  .FindButton {
    margin-top: 15px;
  }
}
