.Sec1 {
  height: 90vh;
  border-bottom: 2px dotted rgb(230, 230, 230);
}
/* .bg1 {
  float: left;
  position: absolute;
  left: 10px;
  width: 50vw;
} */
.Sec1Row1 {
  font-family: 'Montserrat', sans-serif;
}
.Sec1Col1 {
  margin-top: 20%;
}

.Sec1Col1 h3 {
  text-align: center;
}

.Sec1Col2 {
  margin-top: 20%;
}

.Sec1Col2 h3 {
  text-align: center;
}

.Sec1Col3 {
  margin-top: 20%;
}

.Sec1Col3 h3 {
  text-align: center;
}

.Bodyone {
  color: white;
  background-image: url('../../assets/greenind.svg');
  background-size: 100%;
  background-repeat: no-repeat;
  height: 80vh;
  float: left;
  margin-top: 5%;
}
.Bodyone h1 {
  margin-top: 30%;
  margin-left: 5%;
  width: 80%;
}
.Bodyone p {
  width: 80%;
  margin-left: 5%;
}
.Sec2 {
  height: 90vh;
  border-bottom: 2px dotted rgb(230, 230, 230);
}
.Sec2Row1 {
  font-family: 'Montserrat', sans-serif;
}
.Sec2Col1 {
  margin-top: 25%;
}
.Sec2Col2 {
  margin-top: 25%;
}
.Sec2Col3 {
  margin-top: 25%;
}
.Sec2Col4 {
  color: white;
  background-image: url('../../assets/orangeind.svg');
  background-size: 100%;
  background-repeat: no-repeat;
  height: 80vh;
  float: right;
  margin-top: 5%;
  margin-left: 50px;
}

.Sec2Col5 {
  display: none;
}
.Sec2Col4 h1 {
  margin-top: 40%;
  margin-left: 7%;
  width: 80%;
}
.Sec2Col4 p {
  margin-left: 7%;
  width: 80%;
}
.Sec3 {
  border-bottom: 2px dotted rgb(230, 230, 230);
  font-family: 'Montserrat', sans-serif;
}
.Sec3Row1 {
  margin-top: 10%;
  margin-bottom: 10%;
}
.Sec3ListG{
  margin-top: 35px;
  font-size: 1.5em;
}
.Sec4 {
  border-bottom: 2px dotted rgb(230, 230, 230);
  margin-top: 5%;
  padding-bottom: 10%;
  font-family: 'Montserrat', sans-serif;
  display: none;
  
}
.Sec5 {
  font-family: 'Montserrat', sans-serif;
  background-image: url(../../assets/bottomback.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  background-attachment: fixed;
  background-position: left top;
  background-size: 100vw;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Sec5Card1{
  width: 30vw;
  margin: 5%;
  color: white;
}
.Sec5Card2{
  width: 40vw;
  margin: 5%;
  color: white;
}
.Sec6 {
  /* border-bottom: 2px dotted rgb(230, 230, 230); */
  margin-top: 5%;
  padding-bottom: 10%;
  font-family: 'Montserrat', sans-serif;
  
}

.SignCont {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 5%;
}

.Sign1 {
  display: flex;
  flex-direction: column;
}

.SignBut1m {
  display: none;
}

.Sign1 img {
  margin-bottom: 25px;
}

.Sign2 {
  display: flex;
  flex-direction: column;
}

.SignBut2m {
  display: none;
}

.Sign2 img {
  margin-bottom: 25px;
}

.SignMiddle {
  font-family: 'Open Sans', sans-serif;
  font-size: 64px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 5%;
  margin-right: 5%;
  color: #d7d7d7;
}

.Sec7 {
  background-color: black;
  color: white;
  height: 40vh;
  font-family: 'Open Sans', sans-serif;
}

.FooterTop {
  padding-top: 25px;
}

.FooterBottom {
  text-align: left;
  font-size: 14px;
  margin-top: 5vh;
}

.SocRow {
  display: flex;
  flex-direction: row;
}

.SocCont {
  margin: 10px;
}

.Sec7Cont {
  height: 100%;
}

@media (max-width: 575.98px) {
  .Sign1 img {
    width: 100px;
  }
  .Sign1 a {
    width: 100px;
  }
  .SignBut1m {
    display: flex;
    justify-content: center;
  }
  .SignBut1 {
    display: none;
  }
  .Sign2 img {
    width: 100px;
  }
  .SignBut2 {
    display: none;
  }
  .SignBut2m {
    display: flex;
    justify-content: center;
  }
  .Sign2 a {
    width: 100px;
  }
  .Video {
    width: 90vw;
  }
  .Sec1 {
    max-width: 100vw;
    height: 150vh;
  }
  .Sec1Row1 {
    display: flex;
    flex-direction: column;
    height: auto;
  }
  .Sec1Col3 {
    padding-right: 0px;
  }
  .Sec4Image img {
    width: 25vw;
  }
  .Bodyone {
    max-width: 100vw;
    color: black;
    background-image: none;
    height: auto;
    min-height: 40vh;
    /* border: 1px solid blue; */
  }

  .Bodyone h1 {
    font-size: 2.5em;
    margin-top: 6vh;
    color: #000AC2;
    width: auto;
    margin-left: 0;
    margin-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 10px;
    border-bottom: 1px solid #000AC2;
  }
  .Bodyone p {
    width: auto;
    margin-left: 0;
  }

  .Sec1Col1 {
    /* border: 1px solid red; */
    max-width: 100vw;
    height: 200px !important;
    min-height: 200px !important;
    margin-top: 10vh;
  }
  .Sec1Col2 {
    margin-top: 5%;
    max-width: 100vw;
    min-height: 200px !important;
  }
  .Sec1Col3 {
    margin-top: 5%;
    max-width: 100vw;
    padding-right: 15px;
    min-height: 200px !important;
  }

  .Sec3 {
    height: 110vh;
  }

  .VideoCont {
    margin-top: 5vh;
    /* border: 1px solid red; */
    min-height: 200px;
  }

  .Sec3Row1 {
    display: flex;
    flex-direction: column;
    margin-top: 0;
  }

  .Sec3Col1 {
    min-height: 50vh;
  }

  .Sec3Row1 h1 {
    color: #000AC2;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 10px;
    border-bottom: 1px solid #000AC2;
    margin-top: 6vh;
  }

  .Sec2 {
    height: 100vh;
  }

  .Sec2Row1 {
    flex-direction: column;
  }

  .Sec2Col1 {
    margin-top: 5%;
    min-height: 100px;
    /* border: 1px solid red; */
  }
  .Sec2Col2 {
    margin-top: 5%;
    min-height: 100px;
    /* border: 1px solid red; */
  }
  .Sec2Col3 {
    margin-top: 5%;
    min-height: 100px;
    /* border: 1px solid red; */
  }
  .Sec2Col4 {
    display: none;
  }
  .Sec2Col5 {
    display: flex;
    max-width: 100vw;
    flex-direction: column;
    margin-top: 6vh;
    min-height: 35vh;
    /* border: 1px solid blue; */

  }
  .Sec2Col5 h1{
    color: #000AC2;
    margin-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 10px;
    border-bottom: 1px solid #000AC2;
  }

  .Sec4 {
    margin-top: 6vh;
  }

  .Sec4 h1{
    color: #000AC2;
    margin-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 10px;
    border-bottom: 1px solid #000AC2;
  }
  .Sec6 {
    padding: 0 15px 10vh 15px;
    margin-top: 6vh;

  }
  .Sec6 h1{
    color: #000AC2;
    margin-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 10px;
    border-bottom: 1px solid #000AC2;
  }

  .Sec5 {
    font-family: 'Montserrat', sans-serif;
    background-image: url(../../assets/bottomback.svg);
    background-repeat: no-repeat;
    background-color: transparent;
    background-attachment: fixed;
    background-position: 100%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .Sec5Card1 {
    width: 90vw;
  }
  .Sec5Card2 {
    width: 90vw;
  }
  .SocCont img{
    width: 10vw;
  }
  .SocCont p{
    font-size: .7em;
  }
  .FooterAbout {
    display: none;
  }
  .FooterStuff {
    display: none;
  }
}