.Login {
  background-image: url(../../../assets/bottomback.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  background-attachment: fixed;
  background-position: left top;
  background-size: 100vw;
  width: 100vw;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
}

.Container{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Card2 {
  margin-top: 15vh;
  width: 50vw;
  height: 80vh;
  overflow: scroll;
  margin-bottom: 15px;
}

.SignButton {
  margin-top: 10px;
}

@media (max-width: 575.98px) {
  .Card2 {
    width: 90vw;
  }
  .Login {
    background-position: left top;
    background-size: cover;
    height: auto;
    width: auto;
  }
}