.Sec1 {
  height: 90vh;
  border-bottom: 2px dotted rgb(230, 230, 230);
}
/* .bg1 {
  float: left;
  position: absolute;
  left: 10px;
  width: 50vw;
} */
.Sec1Row1 {
  font-family: 'Montserrat', sans-serif;
}
.Sec1Col1 {
  margin-top: 20%;
}
.Sec1Col2 {
  margin-top: 20%;
}
.Sec1Col3 {
  margin-top: 20%;
}

.Bodyone {
  color: white;
  background-image: url('../../assets/greenind.svg');
  background-size: 100%;
  background-repeat: no-repeat;
  height: 80vh;
  float: left;
  margin-top: 5%;
}
.Bodyone h1 {
  margin-top: 30%;
  margin-left: 5%;
  width: 80%;
}
.Bodyone p {
  width: 80%;
  margin-left: 5%;
}
.Sec2 {
  height: 90vh;
  border-bottom: 2px dotted rgb(230, 230, 230);
}
.Sec2Row1 {
  font-family: 'Montserrat', sans-serif;
}
.Sec2Col1 {
  margin-top: 25%;
}
.Sec2Col2 {
  margin-top: 25%;
}
.Sec2Col3 {
  margin-top: 25%;
}
.Sec2Col4 {
  color: white;
  background-image: url('../../assets/orangeind.svg');
  background-size: 100%;
  background-repeat: no-repeat;
  height: 80vh;
  float: right;
  margin-top: 5%;
  margin-left: 50px;
}
.Sec2Col4 h1 {
  margin-top: 40%;
  margin-left: 7%;
  width: 80%;
}
.Sec2Col4 p {
  margin-left: 7%;
  width: 80%;
}
.Sec3 {
  border-bottom: 2px dotted rgb(230, 230, 230);
  font-family: 'Montserrat', sans-serif;
}
.Sec3Row1 {
  margin-top: 10%;
  margin-bottom: 10%;
}
.Sec3ListG{
  margin-top: 35px;
}
.Sec4 {
  border-bottom: 2px dotted rgb(230, 230, 230);
  margin-top: 5%;
  padding-bottom: 10%;
  font-family: 'Montserrat', sans-serif;
  
}
.Sec5 {

  font-family: 'Montserrat', sans-serif;
  background-image: url(../../assets/bottomback.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  background-attachment: fixed;
  background-position: left top;
  background-size: 100vw;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Sec5Card1{
  width: 30vw;
  margin: 5%;
  color: white;
}
.Sec5Card2{
  width: 40vw;
  margin: 5%;
  color: white;
}
.Sec6 {
  /* border-bottom: 2px dotted rgb(230, 230, 230); */
  margin-top: 5%;
  padding-bottom: 10%;
  font-family: 'Montserrat', sans-serif;
  
}

.SignCont {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 5%;
}

.Sign1 {
  display: flex;
  flex-direction: column;
}

.Sign1 img {
  margin-bottom: 25px;
}

.Sign2 {
  display: flex;
  flex-direction: column;
}

.Sign2 img {
  margin-bottom: 25px;
}

.SignMiddle {
  font-family: 'Open Sans', sans-serif;
  font-size: 64px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 5%;
  margin-right: 5%;
  color: #d7d7d7;
}

.Sec7 {
  background-color: black;
  color: white;
  height: 40vh;
  font-family: 'Open Sans', sans-serif;
}

.FooterTop {
  padding-top: 25px;
}

.FooterBottom {
  text-align: left;
  font-size: 14px;
  margin-top: 5vh;
}

.SocRow {
  display: flex;
  flex-direction: row;
}

.SocCont {
  margin: 10px;
}

.Sec7Cont {
  height: 100%;
}