.Card {
  border-radius: 20px;
  background-color: white;
  display: flex;
  flex-direction: column;
  box-shadow: 0 7px 14px 0 rgba(0,0,0,.15);
  margin: 10vh 15vw 15px 15vw;
  height: auto;
  padding: 20px;
  font-family: 'Open Sans';
}

.Title {
  text-align: left;
  font-size: 1.4em;
  color: #370080;
  font-weight: bold;
}

.JobContainer {
  display: flex;
  flex-direction: row;
}

.Left {
  display: flex;
  flex-direction: row;
}

.CompanyInfo {
  display: flex;
  flex-direction: column;
  margin: auto 0 auto 0;
}

.CompanyImg {
  width: 64px;
  margin-right: 10px;
}

.CompName {
  font-weight: bold;
}

.CompanyContainer {
  box-shadow: 0 7px 14px 0 rgba(0,0,0,.15);
  background-color: white;
  display: flex;
  flex-direction: row;
  border-radius: 15px;
  width: auto;
  padding: 10px 20px 10px 20px;
  margin: 20px;
}

.Comment {
  margin: auto 0 auto 0;
  font-family: 'EB Garamont';
  font-size: 1.3em;
  font-style: italic;
}

.Subtitle {
  font-family: 'Open Sans';
  font-size: 16px;
  color: #979797;
  font-style: normal;
}

.SubtitleTime {
  font-family: 'Open Sans';
  font-size: 16px;
  font-style: italic;
  color: #000;
}