.Content{
    margin-top: 67px;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 10vh;
}

h3{
    text-align: left;
}
.FormContent{
    text-align: left;
    margin-top: 3%;
}

.PayoutInput {
  text-align: right;
}